
* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    background: rgb(245, 245, 245);
    color: #333333;
    margin-top: 20px;
}

h1, h2, h3 {
    color: teal;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}
